.section__registr {
    width: 100%;
    height: 232px;
    background-color: $color-primary;
    
    &-box {
        display: flex;
    }       
    &-left {
        background-size: cover;
        width: 50%;
        padding: 48px 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        .logo{
            width: 30rem;
            height: 10rem;
            
        }
    }
    &-right {
        background-size: cover;
        width: 50%;
        padding: 48px 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        p {
            align-content: center;
            margin-right: 5rem;
            font-size: 36px;
            line-height: 40px;
        }
        a {
            text-decoration: none;
            color: $color-white;
        }       
    }
}